@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Tajawal:400,900&display=swap');

body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}

.header-top h1 {
  color: black ;
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
}

.header-top h2 {
  color: black;
  font-size: 18px;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
}

.nav-bar {
  position: absolute;
  top: 1rem;
  right: 3.5rem;
}

.nav-bar li {
  list-style: none;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  font-size: 13px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  font-family: 'Tajawal', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}

.nav-bar li a {
  text-decoration: none;
  color: black;
}

.nav-bar li:hover {
  border-bottom: 3px solid black;
}

.container {
    margin: auto;
    text-align: center;
    max-width: 600px;

    &__image {
        width: 100px;
        height: auto;
    }
}

.left {
    text-align: left;
}

.header-tag {
  color: black;
  font-family: 'Tajawal', sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 25px;
  list-style: none;
  letter-spacing: 2px;
  font-family: 'Tajawal', sans-serif;

  .list_name {
    text-transform: uppercase;
  }
}

.finalDesign {
  margin-top: 60px;
  text-align: left;
  padding-left: 90px;
}

.moodboard {
  width: 1400px;
  position: absolute;
  top: 70px;
  right: 300px;
  padding-top: 50px;
}

.research {
  width: 1200px;
  position: absolute;
  top: 90px;
  right: 70px;
}

.userflow {
  width: 1400px;
  position: absolute;
  top: 70px;
  right: 300px;
}

.prototype {
  width: 1400px;
  position: absolute;
  top: 70px;
  right: 300px;
  padding-bottom: 20px;
}

.wireframe {
  width: 1400px;
  position: absolute;
  top: 70px;
  right: 300px;
}

.overview {
  width: 1400px;
  position: absolute;
  top: 70px;
  right: 300px;
}

.research {
  width: 1400px;
  position: absolute;
  top: 70px;
  right: 300px;
}

.personas {
  width: 1400px;
  position: absolute;
  top: 70px;
  right: 300px;
  padding-bottom: 20px;
}

.styleguide {
  width: 1400px;
  position: absolute;
  top: 70px;
  right: 300px;
  padding-bottom: 20px;
}

.objectives {
  width: 1400px;
  position: absolute;
  top: 70px;
  right: 300px;
  padding-bottom: 20px;
}

.userstories {
  width: 1400px;
  position: absolute;
  top: 70px;
  right: 300px;
  padding-bottom: 20px;
}
